<header class="header">
	<div class="container">
		<div class="header-body">
			<div class="header-body__logo" id="toTop">
				<img src="./img/header/logo.svg" alt="">
			</div>
			<div class="header-body__menu">

				<div class="header-body__menu-content">
					<a href="#advantages" class="header-body__menu-item">
						Advantages
					</a>
					<a href="#for" class="header-body__menu-item">
						Who it's for
					</a>
					<a href="#started" class="header-body__menu-item">
						How it works
					</a>
					<a href="#contactus" class="header-body__menu-item">
						Contact
					</a>
					<a href="#" class="header-body__menu-item">
						Buy Crypto
					</a>
					<div class="header-body__menu-btns mobile">
						<a href="" class="btn">
							Log In
						</a>
						<a href="" class="btn btn_signup">
							Sign Up
						</a>
					</div>
				</div>

			</div>
			<div class="header-body__btns">
				<a href="" class="header-body__btns-item btn">
					Log In
				</a>
				<a href="" class="header-body__btns-item btn btn_signup">
					Sign Up
				</a>
			</div>
			<div class="header-body__burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</header>